@page
@model IndexModel
@{
    ViewData["Title"] = "Caryl Brown";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Caryl's Website </h1>
    <p>Learn more about Caryl and her art work.</p>
</div>
